body {
    margin:                                   0;
    z-index:                                  0;
    height:                                100%;
}

.parallax {
    background-color:                     #696969;
    height:                                 100%;
    background-attachment:                  fixed;
    background-position:                     center;
    background-repeat:                      no-repeat;
    background-size:                           cover;
}

.content {
    width:                                 100%;
}

body .banner {
    width:                                  95%;
    height:                                 50%;
    text-align:                          center;
    font-weight:                         bolder;
    font-size:                              6em;
    margin:                          0 0 0 70px;
    /*font-family:              'Barrio', cursive;*/
    /*font-family: 'Quicksand', sans-serif;*/
    /*font-family: 'VT323', monospace;*/
    /*font-family: 'Amatic SC', cursive;*/
    /*font-family: 'Russo One', sans-serif;*/
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Teko', sans-serif;
}

body .banner hr {
    border:                                   0;
    width:                                 30px;
    height:                                 4px;
    color:                              black;
    z-index:                                  0;
}

#cmt-nav {
    list-style-type:                       none;
    margin:                                   0;
    padding:                                  0;
    width:                                   5%;
    height:                                100%;
    position:                             fixed;
    overflow:                              auto;
    background-color:       rgba(0, 0, 0, .8);
    transition:                             .3s;
    z-index:                                  2;
}

#cmt-nav:hover {
    width:                   20%;
}

.cmt-inner-nav {
    margin: 75px 0 0 0;
    border-radius: 50%/100px 100px 0 0;
}

#cmt-nav li {
    margin:                          0 0 0 0;
    font-weight:                        bold;
    font-size:                         1.8em;
    display:                           block;
    height :                             10%;
    color:                         #696969;
    -webkit-transition:         all .1s ease;
    -moz-transition:            all .1s ease;
    -ms-transition:             all .1s ease;
    transition:                 all .1s ease;
}

#cmt-nav li:hover {
    color:                         #f8f8ff;
    font-size:                           2em;
    -moz-transform:               scale(1);
    -webkit-transform:            scale(1);
    transform:                    scale(1);
}

#cmt-nav li i {
    margin:                    25px 0 0 10px;
}

#cmt-nav li.bottom {
    margin:                          200px 0 0 0;
}

#cmt-nav li.bottom:hover {
    color:                             #ff4500;
}

.text {
    /*font-family  'Source Code Pro', sans-serif;*/
    font-size:                         .8em;
    margin:                   -10px 0 0 15px;
    font-color:                      white;
    font-family:          'Teko', sans-serif;
    cursor:                          pointer;  
}

#cmt-bdy-ovrly {
    z-index:                             1;
    height:                           100%;
    width:                            100%;
}

.transparent {
    background-color:   rgba(0, 0, 0, 0);    
}

.dim {
    background-color:   rgba(0, 0, 0, .8);
}

#cursor-anim {
    display:     inline-block;
    font-family: monospace;
	font-size: .8em;
    opacity: 0;
	animation: cursor 1s infinite;
}

@keyframes cursor {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}